.panel {
    width: 400px;
    background-color: var(--color-surface);
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    position: sticky;
    top: 0;
    flex-shrink: 0;
    border: solid 1px var(--color-surface-dark);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    & > .preview-container {
        overflow: hidden;
        position: relative;
        height: 300px;
        cursor: pointer;

        & > .preview {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            transition: scale 0.3s;
        }
    }

    & > .none {
        display: flex;
        height: 100%;
        width: 100%;
        color: var(--color-on-surface-low-emphasis);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & > .content {
        flex-grow: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: var(--color-on-surface-low-emphasis);

        & > .legend {
            font-size: 12px;
            font-weight: 500;
        }

        & > .actions {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 20px;

            & > .infos {
                display: flex;
                flex-direction: column;
                gap: 10px;

                & > div {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                > .name {
                    color: var(--color-on-surface);
                    margin-block-start: 0;
                }
            }
        }
    }
}
