:root {
    --color-background: #fcfcfc;
    --color-surface: #ffffff;
    --color-surface-dark: #e0e0e0;
    --color-surface-darker: #cccccc;
    --color-on-surface: #121212;
    --color-on-surface-low-emphasis: #424242;
}

* {
    box-sizing: border-box;
    scrollbar-color: var(--color-surface-dark) var(--color-background);
}

html,
body,
#root {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#root {
    font-family: "Segoe UI", sans-serif;
    background-color: var(--color-background);
    color: var(--color-on-surface);
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    border-radius: 1000px;
    padding: 15px 20px;
    background-color: transparent;
    color: var(--color-on-surface-low-emphasis);
    cursor: pointer;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: var(--color-surface-dark);
}

.appbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.appbar > .app-title {
    margin-block: 0;
}

.appbar > .actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

main {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
}

main > .panel {
    width: 400px;
    background-color: var(--color-surface);
    padding: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    position: sticky;
    top: 0;
    flex-shrink: 0;
    border: solid 1px var(--color-surface-dark);
}

main > .panel > .none {
    margin: auto;
}

main > .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: fit-content;
    padding: 30px;
    padding-top: 0;
    flex-grow: 1;
}

main > .grid > .organ {
    display: flex;
    flex-direction: column;
    border: solid 1px var(--color-surface-dark);
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    background-color: var(--color-surface);
    min-width: 200px;
    max-width: 400px;
    flex-grow: 1;
}

main > .grid > .organ > .cover {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    transition: 0.3s;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-on-surface-low-emphasis);
}

main > .grid > .organ:hover > .cover:not(.shimmer-loading) {
    scale: 1.1;
}

main > .grid > .organ > .content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1;
}

main > .grid > .organ > .content > .name {
    margin-block: 0;
}

main > .grid > .organ > .content > .infos {
    color: var(--color-on-surface-low-emphasis);
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}

.shimmer-loading {
    animation: shimmer 2s infinite linear;
    background: linear-gradient(to right, var(--color-surface-dark) 4%, var(--color-surface-darker) 25%, var(--color-surface-dark) 36%);
    background-size: 1000px 100% !important;
    background-repeat: repeat !important;
}